form{
  margin-right: auto;
}
/* .chat-form {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
} */
/* Style the chat message text area */
#chat_message {
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 550px;
}

/* Style the send button */
input[type="submit"] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

/* Add hover effect to send button */
input[type="submit"]:hover {
  background-color: #45a049;
}

table{
  height: fit-content;
  /* border: 1px solid; */
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
label{
  /* border: 1px solid; */
}
