.video-player {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Untuk memberikan jarak dari atas */
    margin-left: auto; /* Agar video berada di tengah secara horizontal */
    margin-right: auto; /* Agar video berada di tengah secara horizontal */
}

.video-player video {
    width: 100%; /* Video akan mengisi lebar penuh dari parentnya */
    height: auto; /* Mengikuti perbandingan aspek video */
    max-width: 800px; /* Maksimum lebar video */
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; /* Maksimum lebar controls */
    padding: 10px;
    box-sizing: border-box; /* Untuk memastikan padding tidak mempengaruhi lebar total */
    margin-top: 10px; /* Memberikan jarak antara video dan kontrol */
}
