body {
    display: flex;
    margin: 0;
    height: 100vh; /* Set tinggi body ke 100% dari viewport */
}

.sidebar {
    width: 200px;
    background-color: #bbc6f4;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.main-content {
    flex: 1; /* Memastikan konten utama memenuhi sisa ruang yang tersedia */
    padding: 20px;
}

.brand a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #e0e0e0;
}

nav ul li a i {
    margin-right: 10px;
    color: #666;
}

.others {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.others ul {
    list-style-type: none;
    padding: 0;
}

.others ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.others ul li a:hover {
    background-color: #e0e0e0;
}

.others ul li a i {
    margin-right: 10px;
    color: #666;
}

.subsBtn {
    padding: 10px 10px 10px 50px;
}

.subsBtn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.subsBtn a:hover {
    background-color: #2980b9;
}

.recomImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 90px 90px 10px 90px;
    height: 250px;
    width: 250px;
}

.profile-photo {
    width: 100px; /* Atur ukuran sesuai kebutuhan */
    height: 100px; /* Atur ukuran sesuai kebutuhan */
    border-radius: 50%; /* Buat gambar menjadi lingkaran */
    object-fit: cover; /* Potong gambar agar sesuai dalam lingkaran */
    display: block;
    margin: 0 auto; /* Pusatkan gambar */
    margin-bottom: 10px;
}
