body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.loginRegis {
    background-image: url('img/Lilin Aromaterapi 150 gr Scented Candle Lilin Aromatherapy Lilin Wangi - rose, 150 gram di Blummy D.jpeg');
    background-size: cover;
}

/* .bodyIndex {
    background-image: url('/img/beautiful-diwali-diya-lamps-lit-dipavali-hindu-festival-lights-celebration.jpg');
    background-size: 100%;
} */

.container {
    max-width: 750px;
    padding: 50px;
    margin-top: 100px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center; /* Mengatur teks menjadi tengah */
    border-radius: 5px;
    box-shadow: black;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center; /* Mengatur teks menjadi tengah */
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Mengatur teks label menjadi tengah */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    color: #FFD541;
}

#submitRegister,
#submitLogin {
    width: calc(100% - 20px);
    max-width: 100px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    background-color: #FFD541;
}

#submitRegister:hover,
#submitLogin:hover {
    background-color: green;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

.containerIndex {
    height: auto;
    width: auto;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 120px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerIndex p {
    text-align: center;
}

.containerIndex button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.stats {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.stat {
	text-align: center;
}

/* .imagesIndex {
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.imagesIndex img {
	width: 48%;
	margin-bottom: 20px;
} */

.imagesIndex {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.imagesIndex img {
    width: 330px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Optional: Add margin between images */
}
