body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

.loginRegis {
    background-image: url('img/Lilin Aromaterapi 150 gr Scented Candle Lilin Aromatherapy Lilin Wangi - rose, 150 gram di Blummy D.jpeg');
    background-size: 50%;
}

.bodyIndex {
    background-image: url('img/beautiful-diwali-diya-lamps-lit-dipavali-hindu-festival-lights-celebration.jpg');
    background-size: 100%;
}

.container {
    height: 887px;
    width: 960px;
    /* margin-top: 120px; */
    margin-left: 960px;
    padding: 120px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"] {
    width: 750px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
}

#submitRegister,
#submitLogin {
    width: 750px;
    background-color: #FFD541;
    color: black;
    padding: 10px 343px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#submitRegister:hover,
#submitLogin:hover {
    background-color: green;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}